{% extends 'basic_page.html' %}
{% block title %}Home page for assignment 1 in course WEB{% endblock %}

{% block main %}
    {{super()}}

    <div id="container">

        <h2>A Dogs Life</h2>
        <img id="DogImg" src="{{url_for('static', filename='dog.jpg')}}" alt="Dog">
        <p id="pText"></p> <br>
        <button id="buttonID" onclick="TypingText()">Featured Tip </button>
    
        <p>
            Hi everyone!  <br>
            this is the best dog page on the internet
        </p>

    </div>
{% endblock %}

